<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div  class ="main-contain">
{{>header}}
<p>Get your Weather info here</p>
<form>
    <input placeholder="Location">
    <button value="click">Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
    </div>
     
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>